<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %><br>
		<%= f.text_field :commenter %>
	</P>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</P>
	<p>
		<%= f.submit %>
	</P>
<% end %>