<h1>Listing articles</h1>

<%= link_to 'Новая статья', new_article_path %>
<%= link_to 'На главную', root_path %>

<table>
	<tr>	
		<th>Title</th>
		<th>Text</th>
	</tr>
	
	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= link_to 'Показать', article_path(article) %></td>
			<td><%= link_to 'Редактировать', edit_article_path(article) %></td>
			<td><%= link_to 'Удалить', article_path(article.id), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
		</tr>
	<%end%>
</table>
