<%= link_to 'Редактировать', edit_article_path %>

<%= render 'form_show' %>

<h2>Комментарий:</h2>
<%= render @article.comments %>

<h2>Добавить комментарий:</h2>
<%= render 'comments/form_comment' %>

<%= link_to 'Назад', articles_path %>
<%= link_to 'На главную', root_path %>
